THREAT_BLOCK_THRESHOLD=
DEFAULT_RATE_LIMIT_RPM=
ALGORITHM= "your prefered algorithm"
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

DATABASE_URL="your db url"
MODEL_PATH="your model path"
SECRET_KEY="your secret key"
GATEWAY_KEY="your app api key"

ALLOWED_ORIGINS='["http://localhost:5173", "http://127.0.0.1:5173"]'